[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
UserSettings/
MemoryCaptures/
*.user
*.csproj
*.sln
*.pidb
*.suo
*.userprefs
*.svd
*.pdb
*.opendb
*.VC.db
.vs/
.idea/
.vscode/

